::-webkit-scrollbar {
  width: 7px;
  background-color: var(--dark-grayish-blue);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grayish-blue);
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(218, 12%, 13%);
  --dark-grayish-blue: hsl(217, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --fw-400: 500;
  --fw-700: 600;
  --ff: "Barlow Semi Condensed", sans-serif;
  --size-100: 0.25em;
  --size-200: 0.5em;
  --size-300: 1em;
  --size-400: 1.5em;
  --size-500: 2em;
  --size-600: 2.5em;
  --size-700: 3em;
  --size-800: 4em;
  --size-900: 5em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: var(--ff) !important;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------- START UTILITY CLASSES -------------------- */

/* Text color */

.text-dark-grayish-blue {
  color: var(--dark-grayish-blue);
}

/* background colors */

/* padding utility classes */

.p-200 {
  padding: var(--size-200);
}

.p-300 {
  padding: var(--size-300);
}

.pt-500 {
  padding-top: var(--size-500);
}

.pb-500 {
  padding-bottom: var(--size-500);
}

/* margin utility classes */

.mt-900 {
  margin-top: var(--size-900);
}

.wrapper {
  max-width: 1140px;
  margin-inline: auto;
}

/* --------------------- END UTILITY CLASSES -------------------- */

/* --------------------- START COMPONENT STYLES -------------------- */

/* 1- header section styles */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-400);
}

.close-menu,
.menu-icon {
  cursor: pointer;
}

@media screen and (min-width: 50em) {
  .nav-menu {
    flex-direction: row;
  }

  .nav-list {
    display: block;
  }

  .menu-icon {
    display: none;
  }

  .close-menu {
    display: none;
  }
}

.open {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.615);
}

.open .nav-menu {
  display: block;
  text-align: left;
  position: fixed;
  width: 240px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
}

.open .nav-menu .close-menu {
  margin-bottom: var(--size-700);
}

.open .nav-menu li {
  padding: var(--size-300);
  padding-block: var(--size-200);
  background-color: var(--white);
}

.open .nav-menu li a {
  color: var(--very-dark-blue);
  font-weight: var(--fw-700);
}

/* 2. main page styles */

.hidden {
  display: none;
}

/* Footer style */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: auto;
  vertical-align: middle;
}

/* Popup section */
