::-webkit-scrollbar {
  width: 7px;
  background-color: var(--dark-grayish-blue);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grayish-blue);
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(218, 12%, 13%);
  --dark-grayish-blue: hsl(217, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --fw-400: 500;
  --fw-700: 600;
  --ff: "Barlow Semi Condensed", sans-serif;
  --size-100: 0.25em;
  --size-200: 0.5em;
  --size-300: 1em;
  --size-400: 1.5em;
  --size-500: 2em;
  --size-600: 2.5em;
  --size-700: 3em;
  --size-800: 4em;
  --size-900: 5em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: var(--ff) !important;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------- START UTILITY CLASSES -------------------- */

/* Text color */
.text-orange {
  color: var(--orange);
}

.text-pale-orange {
  color: var(--pale-orange);
}

.text-very-dark-blue {
  color: var(--very-dark-blue);
}

.text-dark-grayish-blue {
  color: var(--dark-grayish-blue);
}

.text-grayish-blue {
  color: var(--grayish-blue);
}

.text-light-grayish-blue {
  color: var(--light-grayish-blue);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

/* background colors */
.bg-orange {
  background-color: var(--orange);
}

.bg-pale-orange {
  background-color: var(--pale-orange);
}

.bg-very-dark-blue {
  background-color: var(--very-dark-blue);
}

.bg-dark-grayish-blue {
  background-color: var(--dark-grayish-blue);
}

.bg-grayish-blue {
  background-color: var(--grayish-blue);
}

.bg-light-grayish-blue {
  background-color: var(--light-grayish-blue);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

/* padding utility classes */
.p-100 {
  padding: var(--size-100);
}

.p-200 {
  padding: var(--size-200);
}

.p-300 {
  padding: var(--size-300);
}

.p-400 {
  padding: var(--size-400);
}

.p-500 {
  padding: var(--size-500);
}

.p-600 {
  padding: var(--size-600);
}

.p-700 {
  padding: var(--size-700);
}

.p-800 {
  padding: var(--size-800);
}

.p-900 {
  padding: var(--size-900);
}

.pt-100 {
  padding-top: var(--size-100);
}

.pt-200 {
  padding-top: var(--size-200);
}

.pt-300 {
  padding-top: var(--size-300);
}

.pt-400 {
  padding-top: var(--size-400);
}

.pt-500 {
  padding-top: var(--size-500);
}

.pt-600 {
  padding-top: var(--size-600);
}

.pt-700 {
  padding-top: var(--size-700);
}

.pt-800 {
  padding-top: var(--size-800);
}

.pt-900 {
  padding-top: var(--size-900);
}

.pb-100 {
  padding-bottom: var(--size-100);
}

.pb-200 {
  padding-bottom: var(--size-200);
}

.pb-300 {
  padding-bottom: var(--size-300);
}

.pb-400 {
  padding-bottom: var(--size-400);
}

.pb-500 {
  padding-bottom: var(--size-500);
}

.pb-600 {
  padding-bottom: var(--size-600);
}

.pb-700 {
  padding-bottom: var(--size-700);
}

.pb-800 {
  padding-bottom: var(--size-800);
}

.pb-900 {
  padding-bottom: var(--size-900);
}

.pr-100 {
  padding-right: var(--size-100);
}

.pr-200 {
  padding-right: var(--size-200);
}

.pr-300 {
  padding-right: var(--size-300);
}

.pr-400 {
  padding-right: var(--size-400);
}

.pr-500 {
  padding-right: var(--size-500);
}

.pr-600 {
  padding-right: var(--size-600);
}

.pr-700 {
  padding-right: var(--size-700);
}

.pr-800 {
  padding-right: var(--size-800);
}

.pr-900 {
  padding-right: var(--size-900);
}

.pl-100 {
  padding-left: var(--size-100);
}

.pl-200 {
  padding-left: var(--size-200);
}

.pl-300 {
  padding-left: var(--size-300);
}

.pl-400 {
  padding-left: var(--size-400);
}

.pl-500 {
  padding-left: var(--size-500);
}

.pl-600 {
  padding-left: var(--size-600);
}

.pl-700 {
  padding-left: var(--size-700);
}

.pl-800 {
  padding-left: var(--size-800);
}

.pl-900 {
  padding-left: var(--size-900);
}

/* margin utility classes */
.m-100 {
  margin: var(--size-100);
}

.m-200 {
  margin: var(--size-200);
}

.m-300 {
  margin: var(--size-300);
}

.m-400 {
  margin: var(--size-400);
}

.m-500 {
  margin: var(--size-500);
}

.m-600 {
  margin: var(--size-600);
}

.m-700 {
  margin: var(--size-700);
}

.m-800 {
  margin: var(--size-800);
}

.m-900 {
  margin: var(--size-900);
}

.mt-100 {
  margin-top: var(--size-100);
}

.mt-200 {
  margin-top: var(--size-200);
}

.mt-300 {
  margin-top: var(--size-300);
}

.mt-400 {
  margin-top: var(--size-400);
}

.mt-500 {
  margin-top: var(--size-500);
}

.mt-600 {
  margin-top: var(--size-600);
}

.mt-700 {
  margin-top: var(--size-700);
}

.mt-800 {
  margin-top: var(--size-800);
}

.mt-900 {
  margin-top: var(--size-900);
}

.mb-100 {
  margin-bottom: var(--size-100);
}

.mb-200 {
  margin-bottom: var(--size-200);
}

.mb-300 {
  margin-bottom: var(--size-300);
}

.mb-400 {
  margin-bottom: var(--size-400);
}

.mb-500 {
  margin-bottom: var(--size-500);
}

.mb-600 {
  margin-bottom: var(--size-600);
}

.mb-700 {
  margin-bottom: var(--size-700);
}

.mb-800 {
  margin-bottom: var(--size-800);
}

.mb-900 {
  margin-bottom: var(--size-900);
}

.mr-100 {
  margin-right: var(--size-100);
}

.mr-200 {
  margin-right: var(--size-200);
}

.mr-300 {
  margin-right: var(--size-300);
}

.mr-400 {
  margin-right: var(--size-400);
}

.mr-500 {
  margin-right: var(--size-500);
}

.mr-600 {
  margin-right: var(--size-600);
}

.mr-700 {
  margin-right: var(--size-700);
}

.mr-800 {
  margin-right: var(--size-800);
}

.mr-900 {
  margin-right: var(--size-900);
}

.ml-100 {
  margin-left: var(--size-100);
}

.ml-200 {
  margin-left: var(--size-200);
}

.ml-300 {
  margin-left: var(--size-300);
}

.ml-400 {
  margin-left: var(--size-400);
}

.ml-500 {
  margin-left: var(--size-500);
}

.ml-600 {
  margin-left: var(--size-600);
}

.ml-700 {
  margin-left: var(--size-700);
}

.ml-800 {
  margin-left: var(--size-800);
}

.ml-900 {
  margin-left: var(--size-900);
}

.primary-heading {
  font-size: var(--size-500);
}

.secondary-heading {
  font-size: var(--size-400);
}

@media screen and (min-width: 40em) {
  .primary-heading {
    font-size: var(--size-600);
  }

  .secondary-heading {
    font-size: var(--size-600);
  }
}

.wrapper {
  max-width: 1140px;
  margin-inline: auto;
}

/* --------------------- END UTILITY CLASSES -------------------- */

/* --------------------- START COMPONENT STYLES -------------------- */

/* 1- header section styles */
.main-header {
  border-bottom: 1.5px solid var(--grayish-blue);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-400);
}

.close-menu,
.menu-icon {
  cursor: pointer;
}

@media screen and (min-width: 50em) {
  .nav-menu {
    flex-direction: row;
  }

  .nav-list {
    display: block;
  }

  .menu-icon {
    display: none;
  }

  .close-menu {
    display: none;
  }
}

.open {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.615);
}

.open .nav-menu {
  display: block;
  text-align: left;
  position: fixed;
  width: 240px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
}

.open .nav-menu .close-menu {
  margin-bottom: var(--size-700);
}

.open .nav-menu li {
  padding: var(--size-300);
  padding-block: var(--size-200);
  background-color: var(--white);
}

.open .nav-menu li a {
  color: var(--very-dark-blue);
  font-weight: var(--fw-700);
}

/* 2. main page styles */
.product-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  gap: var(--size-500);
}

.product {
  padding: var(--size-300);
  border-radius: var(--size-200);
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.product-image {
  display: block;
  margin: auto;
  width: 240px;
  height: 260px;
}

.product-title {
  font-size: var(--size-300);
}

.actions,
.like,
.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like,
.comment {
  gap: var(--size-200);
}

.like p,
.comment p {
  font-size: 13px;
  color: var(--dark-grayish-blue);
}

.like img,
.comment img {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: var(--size-200);
}

.pagination .page-item {
  color: var(--dark-grayish-blue);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination .active {
  background-color: var(--orange);
  color: var(--white);
}

.pagination .page-item:hover:not(.active) {
  background-color: var(--pale-orange);
}

@media screen and (min-width: 30em) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: var(--size-500);
  }
}

@media screen and (min-width: 50em) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    gap: var(--size-500);
  }
}

.hidden {
  display: none;
}

/* Footer style */
.footer-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  vertical-align: middle;
}

/* Popup section */

.popup-container {
  position: fixed;
  width: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.679);
  overflow-y: scroll;
}

.popup-close {
  position: absolute;
  right: var(--size-700);
  top: var(--size-700);
}

.popup-info {
  position: relative;
  background-color: var(--white);
  max-width: 1000px;
  margin-block: var(--size-500);
  margin-inline: auto;
  border-radius: 8px;
  padding: var(--size-400);
}

.prod-detail {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 40em) {
  .popup-info {
    padding: var(--size-700);
  }

  .prod-detail {
    flex-direction: row;
    gap: var(--size-900);
  }
}

.prod-img {
  display: block;
  min-height: 300px;
  max-width: 350px;
  border-radius: var(--size-200);
}

.prod-desc {
  font-size: 16px;
}

.product-price {
  color: var(--very-dark-blue);
  font-size: 26px;
  font-weight: var(--fw-700);
}

.prod-comments {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: var(--size-500);
  gap: var(--size-500);
  flex: 1;
}

@media screen and (min-width: 40em) {
  .prod-comments {
    flex-direction: row;
    gap: var(--size-900);
  }
}

.comment-list {
  color: var(--dark-grayish-blue);
}

.border {
  border-top: 2px solid var(--pale-orange);
}

.comments-container {
  min-height: 50px;
}

.form-comments {
  display: flex;
  flex-direction: column;
  gap: var(--size-200);
}

.submit-comment {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-comment:hover {
  background-color: var(--dark-grayish-blue);
}

.popup {
  display: block;
}

.item {
  display: inline-block;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
  height: 445px;
  border-radius: 8px;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--orange);
}

.item-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.diamond-container {
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
  transition: all 0.3s ease-out;
}

.diamond {
  margin-left: 10px;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background: var(--orange);
  overflow: hidden;
  color: var(--white);
  font-weight: var(--fw-700);
  font-size: 1.25em;
  letter-spacing: -0.5px;
  transform: rotate(45deg);
  transition: all 0.3s ease-out;
}

.diamond-wrapper {
  margin-top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.diamond-content {
  transform: rotate(-45deg);
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  transition: all 0.3s ease-out;
}

.img-container {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 80px;
}

.bg-square {
  position: absolute;
  width: 250px;
  height: 250px;
  border: 12px solid rgba(51, 51, 51, 0.1);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.item-img {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: -20px;
  left: 0;
  right: 0;
}

.content-text {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.item-name {
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

.item-subtext-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 0.7em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #bbb;
  text-align: center;
}

.view-more-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s ease-out;
}
